<header>
    <div class="box1">
        <label class="titulorickandmorty">Rick and Morty</label>
    </div>
    <div class="box2">
        <img src="./assets/images/Rick y Morty.svg" alt="">
    
    
        <img src="./assets/images/Portal.svg" alt="">
    
        
        <img src="./assets/images/Meezeek 2.svg" alt="">
            
        
    
        <img src="./assets/images/Meezeek 1.svg" alt="">
    </div>
    <div class="box3">
        <a href="#" class="opcrickandmorty" >PERSONAJES</a>
        <a href="#" class="opcrickandmorty">EPISODIOS</a>
    </div>
</header>
<nav>
    <div class="row">
        <div class="filtrobox">
            <h3 class="titulofiltro">Filtrar y ordenar</h3>
        </div>
        <div class="imgtitulo">
            <a href="#">
                <img src="./assets/images/filtro.svg" alt="">
            </a>
        </div>
    </div>
    <div class="row">
        <hr class="linea">
    </div>   
</nav>
<section *ngIf= "!cargando && personajes.length > 0" class="main">  
    <div *ngFor= "let personaje of personajes; let i = index " class="tarjeta mb-5 animated fadeIn slowest">
        <div class="row">
            <div class="col-6">
                <div>
                    <img class="imagen" [src]="personaje.image" alt="">
                </div>
            </div>
            <div class="col-6">
                <div class="descripcion">
                    <h3 class="tituloPersonaje">{{personaje.name}}</h3>
                    <hr class="linea2">
                    <p class="atributo1">{{personaje.origin.name}}</p>
                    <div class="row">
                        <label class="atributo2">Especie:</label>
                        <label class="atributo2">{{personaje.species}}</label>
                    </div>                    
                </div>
                <div class="boxbutton">
                    <button [routerLink]="['/personaje', personaje.id]" 
                    class="btn boton">Ver detalles</button>
                </div>
            </div>
        </div>
    </div>     
</section>
<footer>
    <img src="./assets/images/rick.svg" alt="">
    
    
    <img src="./assets/images/Morty.svg" alt="">
    <div class="box4">
        <a href="#" class="opcrickandmorty" >PERSONAJES</a>
        <a href="#" class="opcrickandmorty">EPISODIOS</a>
    </div>
</footer> 


<div *ngIf="!cargando && personajes.length === 0" 
    class="alert alert-warning text-center mt-3 animated fadeIn slow">
    <h4 class="alert-heading">No hay registros</h4>
    <p>
        <i class="fa fa-exclamation fa-2x"></i>
    </p>
</div>


<div *ngIf="cargando"    
    class="alert alert-info text-center mt-3 animated fadeIn slow">
    <h4 class="alert-heading">Cargando</h4>
    <p>
        <i class="fa fa-refresh fa-spin fa-2x"></i>
    </p>
    <p class="mb-0">
        Espere por favor...
    </p>
</div>
